# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
obj/
/build/
.gradle/
.idea/
*.iml
local.properties
**/build/
*.log

# Android Studio
.idea/
*.iws
out/

# Gradle
.gradle/

# Kotlin
*.kotlin_module

# macOS
.DS_Store

# Go
/bin/
*.test
*.out
vendor/

# Secrets
secrets/
keystore.properties
keystore_familly
deploy/firebase-admin.json
deploy/play-store-credentials.json
*-firebase-adminsdk-*.json

# Misc
Thumbs.db
